fastapi
uvicorn
gunicorn
python-multipart
azure-storage-blob
pydantic
requests
librosa
openai
azure-cosmos==4.4.0
azure-storage-blob==12.10.0
numpy
python-dotenv==0.21.1
starlette==0.26.1
fastapi[all]
