fastapi
uvicorn
gunicorn
python-multipart
azure-storage-blob
pydantic
requests
librosa
openai
azure-cosmos==4.4.0
azure-storage-blob==12.10.0
numpy
python-dotenv==0.21.1
starlette==0.26.1
fastapi[all]
azure-ai-generative
whisper
openai-whisper
azure-ai-ml==1.14.0
azure-communication-email
PyPDF2
ffmpeg
ffmpeg-python==0.2.0
msal
auth
langchain
pydub==0.25.1
imageio-ffmpeg==0.4.8
azure-cognitiveservices-speech
torchaudio


